.termsofuse {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
}

.toumenu {
  text-align: right;
  padding-top: 10px;
  padding-right: 100px;
  font-size: 20px;
}
